/* black color: #212529
white color: #f8f9fa
gray color: #adb5bd
brown color: #767676;
black-footer: #303030;
text-gray: #bababa
*/
/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px = 1rem */
}

body {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #212529;
}

/*-------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------------*/

.row {
    max-width: 110rem;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    word-spacing: 1px;
    line-height: 1.7;
    font-weight: 600;
    text-align: center;
    padding: 30px 0 50px;
}

h1::after {
    content: '';
    display: block;
    width: 100px;
    background-color: #212529;
    padding: 1px;
    margin: 10px auto;
}

h2 {
    font-size: 2.5rem;
    word-spacing: 1px;
    line-height: 1.7;
    font-weight: 400;
    padding: 20px 0 0;
}

h3 {
    font-size: 1.5rem;
    word-spacing: 0.8px;
    line-height: 1.7;
    font-weight: 400;
    text-transform: uppercase;
}

/* .btn:link,
.btn:visited {
    display: block;
    padding: 15px 30px;
    font-weight: 300;
    color: #212529;
    text-decoration: none;
} */

.btn {
    outline: none;
    cursor: pointer;
    font-size: 1.8rem;
}

.cart-btn {
    width: 200px;
    height: 50px;
    color: #f8f9fa;
    background-color: #212529;
    border: 1px solid #212529;
}



.btn:hover,
.btn:active {
    background-color: #212529;
}

section {
    padding: 50px 0 0;
}

input {
    outline: none;
    border: 1px solid #212529;
    padding: 10px;
    border-color: #bababa;
    width: 100%;
}

label {
    font-size: 1.6rem;
    padding: 15px 0 5px;
}

input[type='submit']{
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 30px;
    color: #f8f9fa;
    background-color: #212529;
}

select {
    width: 100%;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 10px 0;
    outline: none;
    border-color: #bababa;
}

input[type='submit']:hover {
    background-color: #212529;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: justify;
}

a:link, a:visited {
    text-decoration: none;
    color: #212529;
    font-size: 1.6rem;
}

.logo-branch {
    font-size: 2.8rem;
    font-weight: 800;
    padding: 5px 0;
}

/*-------------------------------------------*/
/* HEADER */
/*-------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/cover-1.jpg');
    background-position: center;
    background-size: cover;
    height: 650px;
    position: relative;
}

nav {
    height: 90px;
    background-color: #f8f9fa;
    padding: 20px 16px;
}

nav .wrapper {
    display: flex;
}

.main-nav-left {
    width: 35%;
    display: flex;
}

.main-nav-left li {
    padding: 12px;
    list-style: none;
    font-size: 1.9rem;
    font-weight: 500;
}


.main-nav-right {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.main-nav-right li {
    padding: 12px;
    list-style: none;
    font-size: 1.9rem;
    font-weight: 500;
}

.logo-middle {
    width: 30%;
}

.logo-middle .logo-branch {
    text-align: center;
}

.header-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-text-box #small-text {
    font-size: 2.8rem;
    color: #f8f9fa;
    text-align: center;

}

.header-text-box #big-text {
    font-size: 11rem;
    color: #f8f9fa;
}

/*-------------------------------------------*/
/* BIG IMAGE BANNER */
/*-------------------------------------------*/
.big-images {
    padding: 15px;
}

.big-images-wrapper ul {
    display: flex;
}

.big-images-wrapper ul li {
    list-style: none;
    width: 33.33%;
    padding: 15px;
}

.big-images-wrapper ul li img {
    width: 100%;
}

/*-------------------------------------------*/
/* NEW ARRIVAL */
/*-------------------------------------------*/

.product-collection {
    padding: 15px 0 70px;
}

.product-collection ul {
    display: flex;
}

.product-collection ul li {
    width: 25%;
    padding: 15px;
    list-style: none;
}

.product-thumbnail p {
    text-align: center;
    padding: 7px;
    font-size: 1.8rem;
    font-weight: 600;
}

.product-thumbnail img {
    width: 100%;
    height: auto;
}

.product-thumbnail .product-price {
    color: #767676;
    padding: 0;
}


/*-------------------------------------------*/
/* SHOPPING CART */
/*-------------------------------------------*/
.section-shoppingcart {
    padding: 50px 0 300px;
}

.shoppingcart-wrapper {
    width: 60%;
    margin: 0 auto;
}

.shoppingcart-wrapper ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.6rem;
}

.shoppingcart-wrapper ul li {
    border-bottom: 1px solid #303030;
    padding: 10px;
}

.shoppingcart-wrapper ul li img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
}


.shoppingcart-wrapper ul li:first-child {
    width: 10%;
    display: flex;
    align-items: center;
}

.shoppingcart-wrapper ul li:nth-child(2) {
    width: 40%;
}

.shoppingcart-wrapper ul li:nth-child(3) {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoppingcart-wrapper ul li:nth-child(4) {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoppingcart-wrapper ul li:last-child {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-cart-item {
    padding: 1px 7px;
    cursor: pointer;
}

.shoppingcart-wrapper ul li input {
    width: 50px;
    font-size: 1.8rem;
    padding: 0 5px;
}

.cart-button {
    padding-top: 100px;
    text-align: center;
}

.cart-button button {
    margin: 20px;
}

/*-------------------------------------------*/
/* BREADCUM */
/*-------------------------------------------*/
.section-breadcumb span {
    font-size: 1.6rem;
    padding: 8px;
}

/*-------------------------------------------*/
/* FOOTER */
/*-------------------------------------------*/

footer {
    background-color: #303030;
}

.footer-wrapper {
    display: flex;
    padding: 100px 0 40px;
    color: #f8f9fa;
}

.footer-wrapper li a:link, .footer-wrapper li a:visited {
    color: #bababa;
}

.branch {
    width: 30%;
}

.support {
    width: 25%;
}

.shop {
    width: 25%;
}

.company {
    width: 25%;
}

.contact {
    width: 25%;
}

.footer-wrapper h3 {
    padding: 10px 0;
}

.footer-wrapper li {
    list-style: none;
    padding: 5px 0;
}

.branch .big-tech-icons, .logo-branch {
    text-align: left;
}

.branch .big-tech-icons a:link, .branch .big-tech-icons a:visited {
    color: #f8f9fa;
    padding-right: 15px;
}

.branch .big-tech-icons {
    padding-top: 20px;
}

.divider {
    height: 0.1px;
    background-color: #7676767b;
}

.copyright {
    display: flex;
    padding: 15px;
}

.copyright p {
    width: 50%;
    justify-content: flex-start;
    color: #767676;
}

.copyright div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


.copyright img {
    height: 25px;
    width: 300px;
}

/*-------------------------------------------*/
/* LOGIN */
/*-------------------------------------------*/

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.login {
    padding-top: 40px;
    color: black;
    font-family: 'Jost', sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    font-size: 23px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    padding-top: 50px;
}

.username{
    width: 76%;
    color:  rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    margin-bottom: 27px;
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    background: url(../image/user.png) no-repeat right center;
    background-size: 23px;
}

.password {
    width: 76%;
    color:  rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    margin-bottom: 27px;
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    background: url(../image/password.png) no-repeat right center;
    background-size: 28px;
}

form.formSignIn {
    padding-top: 20px;

}

.submit {
    cursor: pointer;
    border: 0;
    border-radius: 5em;
    color: #fff;
    background-image: linear-gradient(to right, #457fca 0%, #5691c8  51%, #457fca  100%);
    width: 150px;
    height: 40px;
    padding-bottom:  12px;
    padding-top: 12px;
    font-family: 'Jost', sans-serif;
    margin-left: 32.5%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    transition: 0.5s;
}

.submit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}

/*-------------------------------------------*/
/* ORDER */
/*-------------------------------------------*/
.section-checkout {
    padding-bottom: 100px;
}

.checkout-wrapper {
    display: flex;
}

.checkout-form {
    width: 60%;
}

.checkout-order {
    width: 40%;
    margin-left: 15%;
}

.checkout-form label, .checkout-form input {
    display: block;
}

.fullname {
    display: flex;
    flex-direction: row;
}

.fullname label, .fullname input {
  display: block;
}

.fullname .firstname, .fullname .lastname {
    width: 45%;
}

.fullname .firstname {
    margin-right: 5%;
}

.fullname .lastname {
    margin-left: 5%;
}

.single-order {
    display: flex;
    padding: 20px 0 20px;
}


.single-order img {
    width: 94px;
    height: 112px;
}

.single-order ul {
    padding-left: 20px;
    list-style: none;
    font-size: 1.5rem;
}

.single-order ul li:first-child {
    font-weight: 600;
}

.order-body {
    padding: 20px 0;
}

.order-body ul {
    list-style: none;
    padding: 20px;
    background-color: #f5f5f5;
}

.order-body ul li {
    padding: 20px 0;
    font-size: 1.7rem;
    border-bottom: 0.5px solid #dcdcdc;
    ;
}

.order-body ul li:last-child {
    border-bottom: none;
}

.order-body ul li {
    display: flex;
    justify-content: space-between;
}

.order-btn {
    padding: 15px !important;
    width: 100%;
    margin: 20px 0;
    text-transform: none !important;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 1px;
}
